@import "tailwindcss";


:root {
  --background: #FFF8EE;
  --foreground: #2B1B17;
}



@theme inline {

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}



/* Global */

html {
  scroll-behavior: smooth;
}


body {

  background: #FFF8EE;
  color: #2B1B17;

  font-family: Arial, Helvetica, sans-serif;

}





/* Navbar Links */

.nav-link {

  position: relative;
  transition: 0.3s;

}


.nav-link:hover {

  color: #800000;

}





.nav-link::after {

  content: "";

  position: absolute;

  left: 0;

  bottom: -8px;

  width: 0;

  height: 2px;

  background: #800000;

  transition: 0.3s;

}


.nav-link:hover::after {

  width: 100%;

}





/* Reusable Input */

.input-style {

@apply 
w-full
mt-4
px-5
py-4
rounded-xl
border
border-[#E8DCC8]
bg-[#FFFDF8]
text-[#2B1B17]
outline-none
focus:border-[#800000]
transition;

}





/* Dashboard Cards */

.dashboard-card {

@apply 
bg-[#FFFDF8]
border
border-[#E8DCC8]
rounded-3xl
p-6
shadow-lg;

}